html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #F1E9D4 url(bg01.jpg) repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: #747474;
}


h1, h2, h3 {
	margin: 0;
	padding: 0;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

strong {
}

a {
	color: #706C53;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

ul.style1
{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.style1 li
{
	padding: 15px 0px 15px 0px;
	border-top: 1px solid #E5E5E5;
}

ul.style1 a
{
	color: #747474;
}

ul.style1 .first
{
	padding-top: 0;
	border-top: none;
}

/** WRAPPER */

#wrapper {
}

.container {
	width: 1200px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/* Header */

#header-wrapper {
	overflow: hidden;
	height: 600px;
}

#header {
	width: 960px;
	height: 200px;
	margin: 0 auto;
	padding: 0px 20px;
}

/* Logo */

#logo {
	overflow: hidden;
	padding: 3em 0em;
}

#logo h1, #logo p, #logo h4{
	text-align: center;
}

#logo h1 {
	padding: 0px 0px 0px 0px;
	text-transform: UPPERCASE;
	font-size: 4em;
	font-weight: 600;
	color: #706C53
}
#logo h4{
	margin: 0px 0px 0px 0px;
	font-size: 3em;
}

#logo p {
	margin-top: -20px;
	padding: 0px 0px 0px 5px;
	font-size: 20px;
	font-weight: 300;
	color: #696969;
}

#logo p a {
	color: #696969;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #3C342E;
}

/* Menu */

#menu-wrapper {
	height: 52px;
	margin-bottom: 2em;
	border-top: 1px solid #D7CFAD;
	border-bottom: 1px solid #D7CFAD;
}

#menu {
	height: 52px;
}

/* menu*/

#menu ul {

  text-align: center;
  display: block;
  margin: 0;
  padding: 0px 0px 0px 0px;
  list-style: none;
  
}
#menu ul li{
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 10px 15px;
  background: #fff;
  padding: 0px 15px;
  line-height: 52px;
  border: none;
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  background: #D7CFAD;
  color: #706C53;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#menu ul li a{
  padding: 0px 15px;
  line-height: 52px;
  border: none;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: #706C53;
}
#menu ul li a:hover{
	background: #555;
	text-decoration: none;
	color: #fff;
	
}
#menu ul li:hover {
  background: #555;
  text-decoration: none;
  color: #fff;
}

#menu ul li ul {
  border: none;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 250px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  //display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
#menu ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
}

#menu ul li ul li:hover { background: #666; }
#menu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
#menu ul li ul li a{
  display: block;
  padding: 0px 15px;
  line-height: 52px;
  border: none;
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}

/*
#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	padding: 0px 30px;
	line-height: 52px;
	border: none;
	text-decoration: none;
	text-transform: lowercase;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 300;
	color: #706C53;
*/



#menu ul li ul li a:hover{
	background: #D7CFAD;
	text-decoration: none;
	color: #706C53;
}

#menu .current_page_item a {
}

/** PAGE */


#page {
	overflow: hidden;
	width: 1100px;
	margin-bottom: 3em;
	padding: 5em 50px;
	background: #FFF;
	border: 1px solid #D9D2A5;
}



/* Footer */

#footer {
	overflow: hidden;
	padding: 3em 0em;
	border-top: 1px solid #D9D2A5;
	color: #7A7762;
}

#footer p {
	text-align: center;
}

#footer a {
	color: #7A7762;
}
